<launch>
    <node name="livox_to_pcd_converter" type="livox2bin" pkg="custom_ros_lib" output="screen" clear_params="true">
        <param name="save_dir" type="str" value="/data/lg22/custom_data/hangpa_00" />
        <param name="lidar_topic" type="str" value="/livox/lidar" />
        <param name="imu_topic" type="str" value="/livox/imu" />
    </node>
   
</launch>